.banner
  background-color: $dark
  .container
    padding: 75px 10px 50px
  &__about
    text-align: center
    .text
      color: #585858

  .list__preview
    max-width: 360px
    margin-top: 90px
    .item
      display: flex
      font-size: 14px
      font-weight: 600
      margin-bottom: 65px
      &:last-child
        margin-bottom: 0

      .icon
        padding: 8px 34px 0 5px
        font-size: 40px

      .name-service
        text-transform: uppercase
        color: $light-text
        padding-bottom: 18px
        white-space: nowrap

      .text
        color: #717171
