.banner
  background-color: $dark
  background-image: url("../../img/tablets.png")
  background-repeat: no-repeat
  background-position: calc(50% + 250px) bottom
  .container
    padding: 0 10px 50px

  .list__preview
    max-width: 360px
    margin-top: 50px
    .item
      display: flex
      font-size: 14px
      font-weight: 600
      margin-bottom: 65px
      &:last-child
        margin-bottom: 0

      .icon
        padding: 10px 34px 0 5px
        font-size: 40px

      .name-service
        text-transform: uppercase
        color: $light-text
        padding-bottom: 18px
        white-space: nowrap
