section.banner
    .container
        .section-title
            .title
                span.romb-left
                h2.title-text amazing &#160;
                    span.accent-color features
                span.romb-right
            .text With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !
        .list__preview
            each item in bannerList
                .item
                    .icon.accent-color(class=item.iconClass)
                    .description
                        .name-service=item.name
                        .text=item.text
