section.clients
    .container
        .slider
            +slidebarBtn('arrow_triangle-left')
            .clientsList
                for client in clientList
                    a(href=client.link class=client.logo).client
            +slidebarBtn('arrow_triangle-right')