section.clients
    .container
        .slider
            .btn-slider
                .icon.arrow_triangle-left
            .list__clients
                for client in clientsList
                    a(href=client.link class=client.logo).client
                //a.client
                //a.client
                //a.client
            .btn-slider
                .icon.arrow_triangle-right