section.contact
    .container
        .question.
            are you satisfied with unlimited features that we offer?
        .buttons
            a.btn purchase it now
            a.btn contact us now
    