header.header
    .container
        a(href="#").logo
        button(type="button").hamburger.hamburger--spring
            span.hamburger-box
                span.hamburger-inner
        nav.nav
            each item in navLinks
                a.nav__link(href="#")=item
            a.icon.icon_search

