section.services
    .container
        ul.serviceList
            each service in serviceList
                li.serviceItem
                    .serviceItem__label
                        .icon(class=service.iconClass)
                        .top-section
                        .bottom-section
                    .serviceItem__description
                        .name=service.name
                        .short-inf=service.shortInf
                        .text=service.text