section.team
    .container
        .section-title
            .title
                +slidebarBtn('arrow_triangle-left')
                .lines.lines-left
                .romb.romb-left
                h2.title__text.accent-color team &#160;
                    span.title-dark members
                .romb.romb-right
                .lines.lines-right
                +slidebarBtn('arrow_triangle-right')
            .title__subtext We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests
        ul.membersTeamList
            each member, index in teamList
                if index === 1
                    li.memberItem.active
                        include ../share/memberItemBody
                else
                    li.memberItem
                        include ../share/memberItemBody

