//mixin title(info, accentWord)
//    .title
//        span.romb-left
//        if accentWord === 0
//            h2.title-text.accent-color=info.title
//        else
//            h2.title-text=info.title
//        if accentWord === 1
//            span.accent-color features
//        else
//            span features
//        span.romb-right
//    .text With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !