$default-font: "raleway", sans-serif
$icon-font: "ElegantFonts"
//$body-color: #f9f9f9
$accent: #00a99d
//$dark: #383838
//$text: #7a7a7a
//$title-text: #606060
//$light-text: #e4e4e4
//$dark-label: #404040

$body-light: #f9f9f9
$body-dark: #383838
$footer: #333333
$text-light: #e4e4e4
$text-dark: #606060
$label-dark: #404040
$text: #7a7a7a
$text-transparent: #aaaaaa

